<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= anime.title %></title>
  </head>
  <body>
    <h2><%= anime.title %></h2>
    <strong>Title:</strong> <%= anime.title %><br />
    <strong>Description:</strong> <%= anime.description %><br />
    <strong>Release Date:</strong> <%= anime.release_date %><br />
    <strong>Rating:</strong> <%= anime.rating %><br />
    <strong>Categories:</strong> <%= anime.categories %> <br />
    <button type="button">Edit</button>
    <form action="/delete/<%= anime.id %>" method="post">
      <button type="submit">Delete</button>
    </form>
  </body>
</html>
